<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>AsLibrary | Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="../assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="../utils/css/style.css">
	</head>

	<body>
        
		<div class="wrapper" style="background-image: url('../assets/images/books_2.jpg');">
			<div class="inner">
                <div class="image-holder">
                    <img src="../assets/images/books_4.jpg" alt="">
				</div>
				<form action="">
					<h3>Login</h3>
					<!-- Alert Custom Message -->
					<div>
						<p class="fnt-bold">Wrong Email or Password</p>
					</div>
					<br><br>
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control">
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button>Enter
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>