<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AsLibrary | Home</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../utils/vendors/feather/feather.css">
    <link rel="stylesheet" href="../utils/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../utils/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../utils/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../utils/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../utils/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../utils/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../utils/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../utils/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../utils/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="../utils/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../utils/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../assets/images/id.png" />
    </head>
    <body class="bg-purple">
        <div class="bg-purple"> 
            <!-- page-body-wrapper -->
            <div class="container-fluid justify-content-center d-flex">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row justify-content-between">
                            <!--<h3 class="welcome-sub-text">Your performance summary this week </h3>-->
                            <nav class="navbar default-layout col-lg-12 col-12 p-0 d-flex align-items-center flex-row">
                                <div class="text-start navbar-brand-wrapper d-flex align-items-start justify-content-start">
                                    <h3 class="welcome-text fw-bold">_!*=/_ <span class="text-black fw-bold">AsLibrary</span></h3>
                                </div>
                                <div class="navbar-menu-wrapper d-flex align-items-center">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown d-lg-block user-dropdown align-items-right">
                                            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="img-xs rounded-circle" src="/assets/images/id.png" alt="Profile image"> </a>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                                <div class="dropdown-header text-center">
                                                    <img class="img-md rounded-circle" src="/assets/images/id.png" height="100px" width="100px" alt="Profile image">
                                                    <p sec:authorize="!isAuthenticated()" class="mb-1 mt-3 font-weight-semibold">Visiteur</p>
                                                </div>
                                                <div sec:authorize="isAuthenticated()" >
													<a th:if="${user.getRoleToString() == 'USER'}" th:href="@{/guest/dashboard}" class="dropdown-item">
														<i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> 
														Dashboard
													</a>
													<a th:if="${user.getRoleToString() == 'ADMIN'}" th:href="@{/admin/dashboard}" class="dropdown-item">
														<i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> 
														Dashboard
													</a>
                                                </div>
                                                <a sec:authorize="!isAuthenticated()"class="dropdown-item" th:href="@{/login}">
                                                	<i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>
                                                	Connexion
                                               	</a>
                                               	<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">
                                                	<i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>
                                                	Déconnexion
                                               	</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="home-tab">
                                    <div class="tab-content tab-content-basic">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                                            <!-- Liste des livres -->
                                            <div class="row flex-grow">
                                                <div th:each="book : ${books}"
                                                	 class="col-sm-3 d-flex col-md-2 col-lg-3 grid-margin rounded-2 stretch-card">
                                                    <div class="card card-rounded-2 rounded-2">
                                                        <img src="../assets/images/books_6.jpg" class="card-img-top rounded-4" height="200px" width="100%" alt="" srcset="">
                                                        <div class="p-2 px-3">
                                                            <h6 class="fw-bold mt-2 mb-2" th:if="${book.title}" th:text="${book.title}">Les récits du slyverse</h6>
                                                            <p class="mt-2 mb-2" th:if="${book.description}" th:text="${book.getLimitedDescription()}"></p>
                                                            <a th:href="@{/books/book_details(id=${book.id})}" class="btn bg-purple rounded-1 text-white">Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div th:if="${#lists.size(books)} < 1"
                                                	class="d-sm-flex align-items-center text-center justify-content-center my-4">
                                                	<h1>Aucun livre pour le moment</h1>
                                                </div>
                                            </div>
                                            <!-- Liste des livres -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">By <a href="https://www.bootstrapdash.com/" target="_blank">Ba'Hith BN</a></span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2024. All rights reserved.</span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../utils/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../utils/vendors/chart.js/Chart.min.js"></script>
    <script src="../utils/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../utils/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../utils/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="../utils/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../utils/js/off-canvas.js"></script>
    <script src="../utils/js/hoverable-collapse.js"></script>
    <script src="../utils/js/template.js"></script>
    <script src="../utils/js/settings.js"></script>
    <script src="../utils/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../utils/js/dashboard.js"></script>
    <script src="../utils/js/Chart.roundedBarCharts.js"></script>

    <script src="../utils/js/file-upload.js"></script>
    <script src="../utils/js/typeahead.js"></script>
    <script src="../utils/js/select2.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

