<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AsLibrary | Book</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../utils/vendors/feather/feather.css">
    <link rel="stylesheet" href="../utils/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../utils/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../utils/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../utils/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../utils/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../utils/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../utils/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../utils/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../utils/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="../utils/css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="../utils/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../assets/images/id.png" />
    </head>
    <body class="bg-purple">
        <div class="bg-purple"> 
            <!-- page-body-wrapper -->
            <div class="container-fluid justify-content-center d-flex">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row justify-content-between">
                            <!--<h3 class="welcome-sub-text">Your performance summary this week </h3>-->
                            <nav class="navbar default-layout col-lg-12 col-12 p-0 d-flex align-items-center flex-row">
                                <div class="text-start navbar-brand-wrapper d-flex align-items-start justify-content-start">
                                    <h3 class="welcome-text">Dashboard</h3>
                                </div>
                                <div class="navbar-menu-wrapper d-flex align-items-center">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item dropdown d-lg-block user-dropdown align-items-right">
                                            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="img-xs rounded-circle" src="/assets/images/id.png" alt="Profile image"> </a>
                                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                                <div class="dropdown-header text-center">
                                                    <img class="img-md rounded-circle" src="/assets/images/id.png" height="100px" width="100px" alt="Profile image">
                                                    <p class="mb-1 mt-3 font-weight-semibold">Administrateur</p>
                                                    <p class="fw-light text-muted mb-0" th:text="${user.email}"></p>
                                                </div>
                                                <!--<a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile</a>-->
                                                <!--<a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>-->
                                                <!--<a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>-->
                                                <!--<a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-help-circle-outline text-primary me-2"></i> FAQ</a>-->
                                                <a class="dropdown-item" th:href="@{/logout}">
                                                	<i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>
													Déconnexion
                                               	</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="home-tab">
                                    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link ps-0" id="home-tab" th:href="@{/admin/dashboard}" role="tab" aria-controls="overview" aria-selected="false">Lecteurs</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab" th:href="@{/admin/loans}" role="tab" aria-selected="false">Emprunts</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="contact-tab" th:href="@{/admin/reservations}" role="tab" aria-selected="false">Reservations</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" id="contact-tab" th:href="@{/admin/books}" role="tab" aria-selected="true">Livres</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content tab-content-basic">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                                            
                                            <!-- Ajout de lecteur -->
                                            <div class="col-12 grid-margin stretch-card" id="addreader">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Ajouter un livre</h4>
                                                        <form class="forms-sample" th:action="@{/admin/save_book}" method="post" enctype="multipart/form-data">
                                                            <div class="form-group">
                                                                <label for="title">Titre</label>
                                                                <input type="text" name="title" class="form-control" id="title" placeholder="Les récits du sly-verse" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="description">Description</label>
                                                                <textarea class="as-form-control" name="description" id="" rows="10" required> </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="category">Catégorie</label>
                                                                <input type="text" name="category" class="form-control" id="category" placeholder="Catégorie" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="year">Année de parution</label>
                                                                <input type="number" name="year" class="form-control" id="year" placeholder="Année" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="authors">Auteur(s)</label>
                                                                <input type="text" name="authors" class="form-control" id="authors" placeholder="Auteurs ou Autrices" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="code">Code du livre</label>
                                                                <input type="text" name="code" class="form-control" id="code" placeholder="Code : 81840xez41dc8e" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="copies">Nombres de copies</label>
                                                                <input type="number" name="copies" class="form-control" id="copies" placeholder="Nombres de copies" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Image de couverture <span>(.jpg - .jpeg - .png)</span></label>
                                                                <div class="d-flex">
                                                                    <input type="file" accept="image/jpeg, image/png, image/jpg" name="thumbnail" class="file-upload-default">
                                                                    <div class="input-group col-xs-12">
                                                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Téléverser une image">
                                                                        <span class="input-group-append">
                                                                        <button class="file-upload-browse btn btn-primary my-0 me-0 text-light" type="button">Choisir</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="submit"  class="btn bg-purple me-2 text-light" value="Valider">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Ajout de lecteur -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">By <a href="https://www.bootstrapdash.com/" target="_blank">Ba'Hith BN</a></span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2024. All rights reserved.</span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="../utils/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../utils/vendors/chart.js/Chart.min.js"></script>
    <script src="../utils/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="../utils/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../utils/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="../utils/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../utils/js/off-canvas.js"></script>
    <script src="../utils/js/hoverable-collapse.js"></script>
    <script src="../utils/js/template.js"></script>
    <script src="../utils/js/settings.js"></script>
    <script src="../utils/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../utils/js/dashboard.js"></script>
    <script src="../utils/js/Chart.roundedBarCharts.js"></script>

    <script src="../utils/js/file-upload.js"></script>
    <script src="../utils/js/typeahead.js"></script>
    <script src="../utils/js/select2.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

